* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0px;
}

.contact-btn {
    background: #FF3147 0% 0% no-repeat padding-box;
    border-radius: 2px;
    padding: 10px 25px;
    text-align: left;
    font: normal normal 600 14px/26px Poppins;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    opacity: 1;
    width: max-content;
}

.color {
    color: #FF3147;
}

.bold {
    font-weight: 700;
    margin: 15px 0px;
}

.section-1 .card {
    height: 500px;
}

.section-1 .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1 {
    padding: 40px 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.section-2 {
    padding-left: 200px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
}

.section-2 .card {
    background-color: transparent;
}

.carousel-indicators {
    position: relative;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: left;
    z-index: 15;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
    text-indent: -9999px;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
    opacity: 1;
    width: 10px;
    height: 10px;
}

.carousel-indicators .active {
    background: transparent url('assets/image.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 25px;
    height: 25px;
}

.carousel-inner img {
    width: 100%;
    height: 400px;
}

.carousel-inner .card {
    width: 100%;
    border: none;
    margin: 10px;
    border-radius: 5px;
}

.card-container {
    position: relative;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hidden-card {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    opacity: 0.86;
    color: white;
    padding: 20px;
    background: #FF3147 0% 0% no-repeat padding-box;
    transition: 0.5s ease-in;
}

.card-container:hover .hidden-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link-btn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    padding: 10px 25px;
    text-align: left;
    font: normal normal 600 14px/26px Poppins;
    letter-spacing: 1.4px;
    color: #FF3147;
    opacity: 1;
    width: max-content;
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.text-sm {
    font-size: 14px;
}

.webdev {
    background: transparent url('assets/webdev.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 50px;
    height: 50px;
}

.arrow {
    background: transparent url('assets/arrow.png') 0% 0% no-repeat padding-box;
    background-size: contain;
    border: none;
    width: 30px;
    height: 10px;
    margin-left: 10px;
}

.section-3 {
    padding: 40px 200px;
}

.section-3 .card {
    width: 230px;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.section-3 .card-body {
    padding: 5px 10px;
    text-align: left;
}

.section-3 .row {
    display: flex;
    flex-direction: row;
}

.icon-1 {
    background: transparent url('assets/icon-1.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 50px;
    height: 50px;
}

.icon-2 {
    background: transparent url('assets/icon-2.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 50px;
    height: 50px;
}

.icon-3 {
    background: transparent url('assets/icon-3.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 50px;
    height: 50px;
}

.icon-4 {
    background: transparent url('assets/icon-4.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 50px;
    height: 50px;
}

.image-container {
    display: none;
}

.image-active {
    display: block;
}

.div-1,
.div-2,
.div-3 {
    text-align: justify;
    padding: 20px;
    background-color: #FAFAFA;
    transition: background-color, color 0.2s ease-in-out;
}

.section-4 {
    padding: 40px 200px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
}

.box {
    width: 22%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    transition: box-shadow 0.3s ease;
    margin: 10px;
    text-align: center;
}

.box:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.box-icon-1 {
    background: transparent url('assets/heart.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 39px;
    height: 34px;
    margin: auto;
}

.box-icon-2 {
    background: transparent url('assets/clock.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 36px;
    height: 36px;
    margin: auto;

}

.box-icon-3 {
    background: transparent url('assets/done.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 36px;
    height: 36px;
    margin: auto;

}

.box-icon-4 {
    background: transparent url('assets/trophy.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 37px;
    height: 30px;
    margin: auto;

}

.quotation {
    background: transparent url('assets/quotation.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 50px;
    height: 36px;
    position: relative;
    top: 20px;
    left: -10px;
    z-index: -1;
}

.section-5 {
    padding: 40px 200px;
}

.footer {
    background: transparent url('assets/footer.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    border: none;
    width: 100%;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid #ccc;
}

.submit-btn {
    background: #FF3147 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 15px 25px;
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 600;
    width: 100%;
}

input[type="checkbox"] {
    accent-color: #FF3147;
    width: 14px;
    height: 14px;
    margin: 0px 5px;
}

.mui-input {
    position: relative;
    margin: 15px 0px;
}

.mui-input label::after {
    content: "*";
}

.mui-input-field {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: 600;
    transition: border-color 0.3s ease;
}

.mui-input-field:focus {
    outline: none;
    border-color: #FF3147;
}

.mui-input label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #777;
    font-size: 16px;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.mui-input-field:focus+label,
.mui-input-field:not(:placeholder-shown)+label {
    top: 0px;
    font-size: 15px;
}

.mui-input-field:focus+label::after,
.mui-input-field:not(:placeholder-shown)+label::after {
    content: "";
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #FF3147;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #FF3147;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}